.header {
    padding: 0 2rem;
    height: 17rem;
    border-bottom: 2px solid black;
    margin: 0 2rem;

    &__logo {
        width: 10.0rem;
        position: absolute;
        top: 3.5rem;
        left: 2rem;
    }

    &-client-info {
        position: absolute;
        top: 3.5rem;
        right: 2rem;

        &__title {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            margin-bottom: 2rem;
            font-size: 2rem;
        }

        &__name, &__address {
            margin-bottom: 0.2rem;
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize;
        }

        &__name {
            font-size: 1.2rem;
        }
    }
}